<div class='container container_inicio'>
  <h2 class='center'>Inventario</h2>
  <ul class='collapsible'>
    <li>
      <div class='collapsible-header'><i class='bx bx-book-content'></i>Invetario</div>
      <div class='collapsible-body'>
        <form class='col s12' action='/retgistrarInventario' method='post'>
          <table class='striped highlight centered'>
            <thead>
              <tr>
                <th>Referencia</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GRANDE</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvGrande' name='cantidadInvGrande' type='number' />
                    <label for='cantidadInvGrande'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>LARGE</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvLarge' name='cantidadInvLarge' type='number' />
                    <label for='cantidadInvLarge'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>MEDIANA</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvMediana' name='cantidadInvMediana' type='number' />
                    <label for='cantidadInvMediana'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>MEDIANA INT</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvMedianaINT' name='cantidadInvMedianaINT' type='number' />
                    <label for='cantidadInvMedianaINT'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>POP</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvPop' name='cantidadInvPop' type='number' />
                    <label for='cantidadInvPop'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>JUNIOR</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvJunior' name='cantidadInvJunior' type='number' />
                    <label for='cantidadInvJunior'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>PEQUEÑA</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvPeque' name='cantidadInvPeque' type='number' />
                    <label for='cantidadInvPeque'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>PIZZA</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvPizza' name='cantidadInvPizza' type='number' />
                    <label for='cantidadInvPizza'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>PIZZA INTEGRAL</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvPizzaIntegral' name='cantidadInvPizzaIntegral' type='number' />
                    <label for='cantidadInvPizzaIntegral'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>P2</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvP2' name='cantidadInvP2' type='number' />
                    <label for='cantidadInvP2'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>P2INT</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvP2INT' name='cantidadInvP2INT' type='number' />
                    <label for='cantidadInvP2INT'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>P5</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvP5' name='cantidadInvP5' type='number' />
                    <label for='cantidadInvP5'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>S2</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvS2' name='cantidadInvS2' type='number' />
                    <label for='cantidadInvS2'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>S5</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvS5' name='cantidadInvS5' type='number' />
                    <label for='cantidadInvS5'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Q2</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvQ2' name='cantidadInvQ2' type='number' />
                    <label for='cantidadInvQ2'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Q5</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvQ5' name='cantidadInvQ5' type='number' />
                    <label for='cantidadInvQ5'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>HOJALDRE</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvHojaldre' name='cantidadInvHojaldre' type='number' />
                    <label for='cantidadInvHojaldre'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>MG</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvMG' name='cantidadInvMG' type='number' />
                    <label for='cantidadInvMG'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>MM</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvMM' name='cantidadInvMM' type='number' />
                    <label for='cantidadInvMM'>Cantidad</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>MP</td>
                <td>
                  <div class='input-field col s12 m6'>
                    <input id='cantidadInvMP' name='cantidadInvMP' type='number' />
                    <label for='cantidadInvMP'>Cantidad</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class='center'>
            <button type='submit' class='btnCss' id='' style='--clr:#e67e22'><span>Registrar</span><i></i></button>
            {{! <button type='submit' id='btnRegistrarPizzas' class='modal-close waves-effect waves-green btn'>Registrar <i class='bx bx-add-to-queue'></i></button> }}
          </div>
        </form>
      </div>
    </li>
  </ul>

  <h2 class='center'>Produccion</h2>

  <ul class='collapsible'>
    <li>
      <div class='collapsible-header'><i class='bx bxs-baguette'></i>Empanadas</div>
      <div class='collapsible-body'>
        <form class='col s12' method='post' action='/resgistrarProduccionInvEmpanadas'>
          <div class='row'>
            <div class='input-field col s12 m6'>
              <select id='referenciaEmpanadas' name='referenciaEmpanadas' class='select'>
                <option value='' disabled selected>Categoria</option>
                <option value='Grande'>Grande</option>
                <option value='Large'>Large</option>
                <option value='Mediana'>Mediana</option>
                <option value='MedianaINT'>MedianaINT</option>
                <option value='Pop'>Pop</option>
                <option value='Junior'>Junior</option>
                <option value='Pequeña'>Pequeña</option>
                <option value='Hojaldre'>Hojaldre</option>
              </select>
              <label>Referencia</label>
            </div>
            <div class='input-field col s12 m6'>
              <input id='cantidadEmpanada' name='cantidadEmpanada' type='number' />
              <label for='cantidadEmpanada'>Cantidad</label>
            </div>
          </div>
          <div class='center'>
            <button type='submit' class='btnCss' id='btnRegistrarEmpanadas' style='--clr:#1e9bff'><span>Registrar</span><i></i></button>
            {{! <button type='submit' id='btnRegistrarEmpanadas' class='modal-close waves-effect waves-green btn'>Registrar <i class='bx bx-add-to-queue'></i></button> }}
          </div>
        </form>
      </div>
    </li>
    <li>
      <div class='collapsible-header'><i class='bx bxs-pizza'></i>Pizzas</div>
      <div class='collapsible-body'>
        <form class='col s12' method='post' action='/resgistrarProduccionInvPizza'>
          <div class='row'>
            <div class='input-field col s12 m6'>
              <select id='referenciaPizza' name='referenciaPizza' class='select'>
                <option value='' disabled selected>Categoria</option>
                <option value='Pizza'>Pizza</option>
                <option value='P2'>P2</option>
                <option value='P5'>P5</option>
                <option value='P2INT'>P2INT</option>
                <option value='P5INT'>P5INT</option>
                <option value='S2'>S2</option>
                <option value='S5'>S5</option>
                <option value='Q2'>Q2</option>
                <option value='Q5'>Q5</option>
              </select>
              <label>Referencia</label>
            </div>
            <div class='input-field col s12 m6'>
              <input id='cantidadPizza' name='cantidadPizza' type='number' />
              <label for='cantidadPizza'>Cantidad</label>
            </div>
          </div>
          <div class='center'>
            <button type='submit' class='btnCss' id='btnRegistrarPizzas' style='--clr:#ff1867'><span>Registrar</span><i></i></button>
            {{! <button type='submit' id='btnRegistrarPizzas' class='modal-close waves-effect waves-green btn'>Registrar <i class='bx bx-add-to-queue'></i></button> }}
          </div>
        </form>
      </div>
    </li>
    <li>
      <div class='collapsible-header'><i class='bx bx-list-check'></i>Registros Hoy</div>
      <div class='collapsible-body'>
        <table id='tablaProduccion' class='striped highlight centered'>
          <thead>
            <tr>
              <th>Referencia</th>
              <th>Cantidad</th>
            </tr>
          </thead>

          <tbody>
          </tbody>
        </table>
        <h4 class='center'>Total <b id='TotalRegistrosProduccion'></b> - Total Pizza <b id='TotalRegistrosProPizza'></b></h4>
      </div>
    </li>
    <li>
      <div class='collapsible-header'><i class='bx bx-filter-alt'></i>Filtro</div>
      <div class='collapsible-body'>
        <h4 class='center'>Filtro</h4>
        <div class='row'>
          <div class='col s12 m4 offset-m4'>
            <input type='text' id='fechaInput' class='datepicker' />
          </div>
        </div>
        <div class='center'>
          <a id='btnFiltro' class='waves-effect waves-light btn yellow lighten-1 dark-text'>button</a>
        </div>
        <div id='containerTableFilter' style='margin-top: 10px;'>

        </div>
      </div>
    </li>
  </ul>
</div>

<script src='/js/registrarProduccionInv.js'></script>